.organisme-list-container {
  padding: 20px;

  h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .organisme-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .organisme-card {
    width: 300px;
  }
}
